.brand {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  color: rgb(107, 47, 218);
  font-size: 3em;
  font-family: sans-serif;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
nav {
  display: flex;
  flex-direction: column;
}
